:root {
    --first-color: #EEEEEE;
    --second-color: #32E0C4;
    --third-color: #0D7377;
    --fourth-color: #212121;
}

.style-card {
    width: 180px;
    min-height: 250px;
    border: 1px solid var(--second-color);
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
}

.style-card a {
    display: block;
    width: auto;
    height: auto;
    cursor: pointer;
}

.style-card a .card-img-top {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

.style-card .card-body {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.card-img-top {
    transition: opacity .3s ease;
}

.card-img-top:hover {
    opacity: .7;
}