:root {
    --first-color: #EEEEEE;
    --second-color: #32E0C4;
    --third-color: #0D7377;
    --fourth-color: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700');

body {
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    background: var(--first-color);
}

h1 {
    color: var(--first-color);
    font-weight: 300;
}

h2 {
    color: var(--first-color);
    font-weight: 200;
}